
<!DOCTYPE html>
<html lang="en">
  <head>

    <script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>

    <style type="text/css">
          #view-side { height:450px;width:600px;margin:0; }
    </style>

    <script type="text/javascript">


        function initialize_map() {
            var map  = new google.maps.Map(
            document.getElementById('view-side'), {
                center: new google.maps.LatLng({{input['lat']}}, {{input['lng']}}),
                zoom: 13,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var triangleCoords  = {{polygon|tojson}}

        /* triangleCoords.forEach(function(p) {
                var point               = new google.maps.LatLng(p.lat, p.lng);
                var marker              = new google.maps.Marker({position: point,
                                  map: map,
                                  icon: "http://maps.google.com/mapfiles/ms/icons/red-dot.png"
                                  });

              })
              */


            var marker_0  = new google.maps.Marker({
                position: new google.maps.LatLng({{input['lat']}}, {{input['lng']}}),
                map: map,
                icon: "http://maps.google.com/mapfiles/ms/icons/red-dot.png"
            });

            // Construct the polygon.
            var bermudaTriangle = new google.maps.Polygon({
              paths: triangleCoords,
              strokeColor: '#FF0000',
              strokeOpacity: 0.8,
              strokeWeight: 2,
              fillColor: '#FF0000',
              fillOpacity: 0.35
            });
            bermudaTriangle.setMap(map);


        }

        function getInfoCallback(map, content) {
            var infowindow              = new google.maps.InfoWindow({content: content});
            return function() {
                    infowindow.setContent(content);
                    infowindow.open(map, this);
                };
        }
        google.maps.event.addDomListener(window, 'load', initialize_map);

    </script>


    {{outputmap.js}}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Spinneret</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<br><br>


  <div class="container">
    <div class="starter-template">
        <h2>Tell me your favorite spot!</h2>
        <h3>Enter the address</h3>
    </div>

    <div class = "container">

      <form  action="/output" method="GET">
        <div class="col-xs-7">
          <input class="form-control input-lg" id="inputlg" type="text"
            placeholder="e.g. 299 W Adams St, Phoenix, AZ 85003" name="address">
        </div>

        <div>
          <button type="submit" class="btn btn-default btn-lg">Find similar spots!</button>
        </div>

      </form>
    </div>


    <div class="starter-template">
      <h3>Results:</h3>
      <p class="lead">Below are neighborhoods most similar to your query<br> </p>
    </div>
    <div>
    {{outputmap.html}}
    </div>
    <table class="table table-hover">
    <tr><th>Neighborhood</th></tr>
    {% for b in spots %}
    <tr><td>{{ b['business_id'] }}</td><td>{{ b['category']}}</td></tr>
    {% endfor %}
    </table>

    <div class="starter-template">
      <h3>The original neighborhood</h3>
      <p class="lead">Below is the neighborhood of your query<br> </p>
    </div>
    <div>
      <div id="view-side" class="map"></div>
    </div>
    <table class="table table-hover">
    <tr><th>Neighborhood</th></tr>
    {% for b in spots %}
    <tr><td>{{ b['business_id'] }}</td><td>{{ b['category']}}</td></tr>
    {% endfor %}
    </table>


   </div><!-- /.container -->


  <div class="container">


    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>


   </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
